<div class="main">
	<div class="container">
  <h1 style="font-size:300%;">Ibrahim Oyekan</h1>
  <p>Rails test site</p>

  <div class="messages">
  <div class="container">
<%= link_to 'Message Log App', "messages#index" %>

  </div>
</div>

<div class="messages">
  <div class="container">
<%= link_to 'Auth/Comm App', "comm" %>

  </div>
</div>

  </div>
</div>



